@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  :root {
  --primary:#032b44;
  --background: #ffffff;
  --foreground: #032b44;
  --accentcolor:#c8fd73;
  --secondary: #455A64;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #032b44;
    --foreground: #ededed;
    --primary:#032b44;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}
.bg-image{
  background-color: #032b44;
  background-image: url('/hero');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
.carousel-slider {
  @apply w-full h-screen flex justify-center items-center;
}

.slider-container {
  @apply w-full h-full relative;
}

.slider-track {
  @apply flex w-full h-full transition duration-500 ease-in-out;
}

.slide {
  @apply w-full h-full flex justify-center items-center flex-col;
}

.slide.active {
  @apply opacity-100;
}

.slide:not(.active) {
  @apply opacity-50;
}

.slider-controls {
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 flex justify-between w-full p-4;
}

.prev-btn, .next-btn {
  @apply bg-gray-800 text-white py-2 px-4 rounded;
}

.prev-btn:hover, .next-btn:hover {
  @apply bg-gray-900;
}